
body {
    background-color: #23b2a4;
}

h1 {
    text-align: center;
    color: white;
    font-size: 55px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    color: white;
}

.couple-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
}

#search-bar{
    flex: 1;
    border-radius: 35px;
    width: 25vw;
    height: 3vw;
    font-size: 16px;
}

#search-button{
    border-radius: 35px;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 3vw;
    height: 3vw;
    font-size: 16px;
}

#search-image {
    background: white;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;

}

.couple-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}

.slider-container {
     display: flex;
     align-items: center;
 }

.slider-value {
    margin-left: 10px;
    color: white;
}

#text-range{
    font-size: 30px;
}