<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/homepage.css">
    <link rel="icon" type="image/png" href="/public/picture/favicon.png">
    <title>YStalk</title>
</head>
<body>

<div class="container">
    <h1 class="h1">YStalk</h1>

    <div class="couple-search">
        <form>
            <input type="text" id="search-bar" name="q" placeholder="  Search the site:" />
            <div id="search-button">
                <input type="image" src="/public/picture/loupe.png" alt="Search" id="search-image" />
            </div>
        </form>
    </div>

    <div class="couple-range">
        <label for="rangeValue" id="text-range">How many profiles</label>
        <div class="slider-container">
            <input type="range" min="1" max="20" value="1" id="myRange">
            <span class="slider-value" id="rangeValue">1</span>
        </div>
        <script src="/public/js/slider.js"></script>
    </div>
</div>
</body>
</html>