<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/homepage.css">
    <title>YStalk</title>
</head>
<body>
<div class="container">
    <div class="couple-range">
        <label for="nbscrap">How many profiles</label>
        <input type="range" id="nbscrap" name="nbscrap" min="1" max="20">
    </div>
    <h1 class="h1">YStalk</h1>
    <div class="couple-search">
        <label for="site-search">Search the site:</label>
        <div>
            <input type="search" id="site-search" name="q">
            <button id="button-search">Search</button>
        </div>
    </div>

</div>
<div class="main-container">

</div>
</body>
</html>