<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/resultpage.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" type="image/png" href="/picture/favicon.png">
    <title>YStalk</title>
</head>

<body>

<div id="bandeau">
    <div class="logo_div" onclick="redirectToHomepage()">
        <img src="/assets/logo.svg" class="logo" alt="logo">
    </div>
</div>

<div id="employeeContainer"></div>
<script src="/js/redirect.js"></script>
<script type='module' src="/js/displayResult.js"></script>
<script type="module" src="js/displayMessage.js"></script>
</body>
</html>